.header {
    background-color: #1F2937;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    color: aliceblue;
    gap: 60px;
    padding-top: 30px;
    padding-left: 210px;
    padding-right: 110px;
    padding-bottom: 100px;
    flex: 1 0 auto;
}
.hero-secondary-text button {
    background-color: #3882f6;
    padding: 5px 30px;
    height: 39px;
    border: 2px solid #1F2937;;
    color: white;
    border-radius: 10px;
}
.logo {
    font-weight: 700;
    font-size: 28px;
}
.header-image {
    height: 215px;
    width: 550px;
    background: #808080;
}
.header-image img {
    height: 215px;
    width: 550px;
}
.logo-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap: 10px;
}
a{
    text-decoration: none;
    color: aliceblue;
}

.info-image {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 50px 0px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.hero-main-text {
    font-weight: 900;
    color: F9FAF8;
    font-size: 48px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.hero-secondary-text p {
    color: E5E7EB;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0px;
}
.random-info ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;
}
.img-info {
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
}
.random-info img {
    width:150px;
    height: auto;
    align-self: center;
    border: 3px #32a0d1 solid;
    border-radius: 15px;

}
.random-info p {
    text-align: center;
    font-size: 18px;
    color: #808080;
}
.random-info h2 {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    font-size: 36px;
    color: 1f2937;
    font-weight: 900;
}
.quote {
    display: flex;
    flex-flow: column nowrap;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    align-items: center;
    padding: 120px 0px;
}
.quote .actual-quote {
    font-weight: 100;
    font-style: italic;
}
.quote .quote-author {
    align-self: flex-end;
    padding-right: 250px;
    font-weight: 900;
}
.signup {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 50px 100px;
    background-color: 3882f6;
    margin: 100px 200px;
    border-radius: 15px;
}
.signup-header {
    font-weight: 800;
    font-size: 30px;
}
.signup-text {
    font-size: 18px;
    color: white;
}
.signup button {
    background-color: #3882f6;
    padding: 5px 30px;
    height: 39px;
    border: white solid 2px;
    color: white;
    border-radius: 10px;
}
.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 50px 0px;
    color: #E5E7EB;
    font-size: 18px;
}